PORT=3000

SIGNATURE_SECRET_KEY_V2=your_super_secret_key_here_2025_V2

SIGNATURE_SECRET_KEY_V1=your_super_secret_key_here_2024

SIGNATURE_ACTIVE_VERSION=V2

SIGNATURE_EXPIRE_TIME=300000

SIGNATURE_HEADER_TIMESTAMP=X-Timestamp
SIGNATURE_HEADER_NONCE=X-Nonce
SIGNATURE_HEADER_APP_ID=X-App-Id
SIGNATURE_HEADER_SIGNATURE=X-Signature
SIGNATURE_HEADER_KEY_VERSION=X-Key-Version
